<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Auto Komis Super Cars</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet"/>
</head>

<body>




<div class="container">

    <div class="starter-template fixed-top">
        <br/>
        <br/>
        <h1>AUTO KOMIS SUPER CARS</h1>
        <p class="lead"><br/> </p>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top ">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/home">HOME</a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/danePojazdu">Wstaw do komisu <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Archiv">Archiwum</a>
                    </li>

                    <li class="nav-item active" >
                        <a class="nav-link" href="/RaportSprzedazy">Raport</a>
                    </li>
                </ul>
                <!--<button> <a href="/login"></a> zaloguj się</button>-->

            </div>
        </nav>

        <div class="alert alert-success" role="alert">
            Samochód został pomyślnie wstawiony do komisu, znajdziesz go poniżej!
        </div>


        <table class="table table-striped">
            <thead>
            <tr>
                <!-- <td>Id</td> -->
                <!--<td>Zdjęcie</td> -->
                <td>Samochód</td>

                <td>Rok</td>
                <td>Przebieg</td>
                <td>Cena</td>


            </tr>

            </thead>
            <tbody>
            <tr th:each="row: ${rows}">
                <!-- <td th:text="${row.id} ">Id</td> -->
                <!--<td th:text="">Zdjecie</td> -->
                <td> <a th:href="'/details/' +${row.id}" th:text="${row.marka} +' ' + ${row.model} "></a> </td>

                <td th:text="${row.rok}"></td>
                <td th:text="${row.przebieg}"></td>
                <td th:text="${row.cena}" >Cena</td>
                <td><a th:href="'/sold/'+${row.id}">sprzedany</a></td>



            </tr>

            </tbody>
        </table>


    </div>


</div><!-- /.container -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="/assets/js/vendor/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
